body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #28a733;
}

h2 {
    margin-top: 30px;
}

/* Form styling */
form {
    background-color: #fff;
    padding: 20px;
    margin: 10px 0 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Table styling */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td,h2,h2,h1,h3 {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td {
    font-size: 14px;
}


body {
    background-color: rgb(255, 255, 255); /* Softer green */
    direction: rtl;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

td, th {
    border: 1px solid #444;
    padding: 10px;
    text-align: right;
}

th {
    background-color: rgba(40, 167, 51, 0.76);
    color: white;
    font-weight: bold;
}

.arsal td:first-child {
    font-weight: bold;
    background-color: rgba(40, 167, 51, 0.76);
}

.lvl0 { padding-right: 0px; }
.lvl1 { padding-right: 10px; }
.lvl2 { padding-right: 20px; }
.lvl3 { padding-right: 30px; }
.lvl4 { padding-right: 40px; }
.lvl5 { padding-right: 50px; }

/* Optional: Add hover effect for table rows */
tr:hover {
    background-color: rgba(40, 167, 51, 0.76);
    transition: background-color 0.3s;
}
